.header {
  width: 100%;
  height: 5rem;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252424;
}

.header h1 {
  color: white;
  cursor: pointer;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  background-color: transparent;
  border-color: #1ad1b9;
  color: #1ad1b9;
}

.button:hover,
.button:active {
  color: white;
}

.button span {
  margin: 0 0.5rem;
}

.badge {
  background-color: #1ad1b9;
  border-radius: 30px;
  padding: 0.15rem 1.25rem;
  color: #1d1d1d;
}

.card {
  margin: 1rem auto;
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}
