.products h2 {
  color: white;
  margin: 2rem auto;
  text-align: center;
  text-transform: uppercase;
}

.products ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item h3 {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price {
  border-radius: 30px;
  padding: 0.15rem 1.5rem;
  background-color: #3a3a3a;
  color: white;
  font-size: 1.5rem;
}

.item p {
  color: #3a3a3a;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
